body {
  font-family: arial, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid blueviolet;
  border-radius: 7px;
}

h1 {
  color: blueviolet;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
}
